.imgBox {
    position: relative;
    width: 400px;
    height: 400px;
    margin-top: 1rem;
  }
  
  .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  
.animal {
    top: 1050px;
    left: 1050px;
}
